server:
  port: 8090
spring:
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:evaluacion
    driverClassName: org.h2.Driver
    username: sa
    password: sa

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    database: h2
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: true
jwt:
  secret: 4ec76c6f-2a6a-4632-824e-241eeab81aa2
